.buy-items-container {
  max-width: 800px; /* Adjust max-width */
  margin: 0 auto;
  padding: 20px;
}

.navbar {
  background-color: maroon;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; /* Add relative positioning */
}

.nav-title {
  font-size: 1.5rem;
}

.nav-filter {
  position: absolute; /* Use absolute positioning */
  top: calc(100% + 10px); /* Position below the navbar */
  right: 20px; /* Adjust horizontal position */
  width: 200px;
}

.nav-filter select {
  padding: 8px;
  border: none;
  border-radius: 5px;
}

.nav-search {
  position: absolute; /* Use absolute positioning */
  top: calc(100% + 10px); /* Position below the navbar */
  left: 20px; /* Adjust horizontal position */
}

.nav-search input {
  width: 100%; /* Fill the available space */
  padding: 8px;
  border: none;
  border-radius: 5px;
}

.logout-btn {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.item-details {
  flex: 1;
}

.item-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.item-condition,
.item-price {
  margin-top: 5px;
}

.item-seller {
  margin-top: 10px;
}

.confirm-purchase-btn {
  padding: 10px 20px; /* Adjust button padding */
  background-color: maroon; /* Change button color */
  color: white; /* Change text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem; /* Increase font size */
}

.confirm-purchase-btn:hover {
  background-color: #800000; /* Darker shade of maroon on hover */
}
